<ion-header>

  <ion-navbar>
    <ion-title>Data Product</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onSave()" end>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="product">
    <!--products-->
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <ion-label >Order Product</ion-label>
        </ion-col>
        <ion-col width-50>
          <button ion-button outline item-right icon-left (click)="displayProductList()">
            <ion-icon name="add"></ion-icon>
            Add Product
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedProducts?.length > 0">
        <ion-col width-100>
          <ion-list>
            <ion-list-header>
              Selected Product
            </ion-list-header>

            <ion-item *ngFor="let product of selectedProducts">
              <ion-avatar item-left>
                <img src="{{product.image}}">
              </ion-avatar>
              <h2>{{product.name}}</h2>
              <p>{{product.status}} - {{product.sellingPrice.text}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--shippingPrice-->
    <ion-grid>
      <ion-row>
        <ion-col width-60>
          <ion-item>
            <ion-label >Send Price</ion-label>
            <ion-select formControlName="shippingPriceCurrency" width-20>
              <ion-option value="euro">€</ion-option>
              <ion-option value="rupiah">Rp</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col width-40>
          <ion-item>
            <ion-input type="number" formControlName="shippingPriceValue" (input)="changeTotalPrice($event.target.value, false)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--discount-->
    <ion-grid>
      <ion-row>
        <ion-col width-60>
          <ion-item>
            <ion-label >Discount</ion-label>
            <ion-select formControlName="discountCurrency" width-20>
              <ion-option value="euro">€</ion-option>
              <ion-option value="rupiah">Rp</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col width-40>
          <ion-item>
            <ion-input type="number" formControlName="discountValue" (input)="changeTotalPrice($event.target.value, true)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--totalPrice-->
    <ion-grid>
      <ion-row>
        <ion-col width-60>
          <ion-item>
            <ion-label >Total Price</ion-label>
            <ion-select formControlName="totalPriceCurrency" width-20>
              <ion-option value="euro">€</ion-option>
              <ion-option value="rupiah">Rp</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col width-40>
          <ion-item>
            <ion-input type="number" formControlName="totalPriceValue" disabled="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--paidFinished-->
    <ion-item>
      <ion-label>Lunas</ion-label>
      <ion-toggle formControlName="paidFinished"></ion-toggle>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col width-50 [hidden]="product.value.paidFinished">
          <ion-row>
            <ion-label>Bon DP 1</ion-label>
          </ion-row>
          <ion-row>
            <button ion-button small>Upload</button>
          </ion-row>
          <ion-row>
            <button ion-button small>View</button>
          </ion-row>
        </ion-col>
        <ion-col width-50>
          <ion-row>
            <ion-label>Bon Lunas</ion-label>
          </ion-row>
          <ion-row>
            <button fab-center ion-button small>Upload</button>
          </ion-row>
          <ion-row>
            <button fab-center ion-button small>View</button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
