@import "../input/input";
$img-backgroud-color: #5C97BF;
$icon-color: #E8F5E9;

page-show {
  .product-image{
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    text-align: center;
    background-color: white;
  }

  .toolbar {
    .toolbar-background {
      background: transparent;
      color: #fff;
    }
  }

  .header-md::after{
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
  }

  .scroll-content{
    margin-top: 255px !important;
  }
}
